name: repos

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install
        run: pip install -r requirements.txt

      - name: Run linter
        run: ./bin/repos-lint ./etc/repos.yaml
